<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fliery - Search for your location</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <style>
        #menuitems li a{
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
        <div class="containernav">
            <div class="navbar">
                <div class="logo">
                    <a href="home.ejs"><img src="public/images/logo.png" width="150px"></a>
                </div>
                <nav>
                    <ul id="menuitems">
                        <li><a href="">Home</a></li>
                        <li><a href="">Order Online</a></li>
                        <li><a href="">Add Restaurant</a></li>
                    </ul>
                </nav>
                <a href=""><img src="public/images/cart.png" width="30px" height="30px"></a>
                <img src="public/images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
        <div class="bgimage">
            <img src="public/images/browse.jpg" alt="">
        </div>

        <div class="browseform">
            <h2>FLIERY</h2>
            <p>Grab your favourites at alarmingly low prices!</p>
        <form id="browse" action="/browse" method="post">
            <input type="search" name="city" placeholder="Enter City" id="city">
            <input type="search" name="address" placeholder="Manually Enter Address" id="address">
            <input type="submit" name="submit" id="submit" value="Search">
        </form>
    </div>



<%- include("footer") -%>