<!-- FOOTER -->
<div class="footer">
    <div class="containernav">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS devices.(Just for Styling)</p>
                <div class="app-logo">
                    <img src="public/images/play-store.png">
                    <img src="public/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="public/images/logo.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis officia non quibusdam obcaecati.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright &copy; 2021 | Fliery</p>
    </div>
</div>
<script>
    // adds 'active' class to the container when signin or signup is clicked
function toggleForm(){
    var container= document.querySelector('.container');
    container.classList.toggle('active');
    }


//menu toggle
var menuitems=document.getElementById("menuitems");
        menuitems.style.maxHeight="0px";
        function menutoggle(){
            if(menuitems.style.maxHeight=="0px")
            {
                menuitems.style.maxHeight="200px";
            }
            else{
                menuitems.style.maxHeight="0px";
            }
        }

//cart menu
var quantity;
        var price;
        var local;
        var total_price=0;
function calculate(){
    quantity = document.querySelectorAll("table tr td input");
    price = document.querySelectorAll("table tr td small");
    local=document.querySelectorAll(".localprice")
}
function total(){
    for(var i=0;i<quantity.length;i++){
        total_price = total_price + (parseInt(quantity[i].value) * parseInt(price[i].innerHTML));
    }
    document.getElementById("subtotal1").innerHTML="$"+total_price.toString()+".00"
    document.getElementById("subtotal3").innerHTML="$"+(total_price+3).toString()+".00"
}
function localprice()
{
    for(var i=0;i<quantity.length;i++){
        local[i].innerHTML="$"+(parseInt(price[i].innerHTML)*parseInt(quantity[i].value)).toString()+".00";
        console.log(local[i].innerHTML);
    }
}
</script>
</body>
</html>