<body>
    <!-- NAVBAR -->
    <div class="header">
        <div class="containernav">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="public/images/logo.png" width="150px"></a>
                </div>
                <nav>
                    <ul id="menuitems">
                        <li><a href="">Home</a></li>
                        <li><a href="browse">Order Online</a></li>
                        <li><a href="">Add Restaurant</a></li>
                    </ul>
                </nav>
                <a href=""><img src="public/images/cart.png" width="30px" height="30px"></a>
                <img src="public/images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Grab your favourite<br>snacks! Hurry up!</h1>
                    <p>Discover the best <br> hard work gains success. Greatness will come.</p>
                    <a href="" class="btn">ORDER NOW! &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="public/images/banner.jpg">
                </div>
            </div>
        </div>
    </div>